#auto-suggest{
    display:flex;
margin:20px;
align-items: center;
border-radius: 10px;
}
#site-search{
    width:500px;
    height:40px;
    border-radius: 10px;
}
#site-search:hover, #site-search:active, #site-search:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.header{
    display:flex;
    text-align: center;
    padding: 0 300px;
    align-items: center;
    margin-top:0px;
    margin-bottom: 20px;
    padding-top:30px;
    justify-content: space-around;
    
}
